@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

body {
  font-family: "Nanum Pen Script";
  background-color: lightgoldenrodyellow;
  line-height: 1.5;
  font-weight: bolder;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 높이를 최소 100%로 설정 */
  margin: 0;
}

header {
  text-align: center;
  font-size: 50px;
  margin: 0; /* 여백 제거 */
  padding: 25px 0; /* 상단과 하단에 균일한 패딩 추가 */
}

.container {
  display: grid;
  grid-template-columns: 150px 1fr;
}

nav {
  margin-left: 20px;
  font-size: 33px;
}

main {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  justify-content: center;
  margin-left: 150px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-top: 50px;
  font-size: 28px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_photo {
  margin-top: 20px; /* 텍스트와 이미지 사이에 간격 추가 */
}

footer {
  text-align: center;
  background-color: gray;
  color: white;
  font-size: 33px;
  padding: 10px 0;
  width: 100%; /* 가로 전체 차지 */
  margin-top: auto; /* 자동으로 남은 공간 밀어내기 */
}

a:link, a:visited {
  background-color: #eeeeee;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  font-size: 1.5em;
}

a:hover, a:active {
  background-color: #FF4500;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  margin: 2px;
  font-size: 1.5em;
  cursor: pointer;
  transition-duration: 1s;
}

button:hover {
  background-color: orange;
  color: white;
}