@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

body {
    font-family: "Nanum Pen Script", sans-serif;
    background-color: lightgoldenrodyellow;
    line-height: 1.5;
    font-weight: bolder;
}

header {
    text-align: center;
    font-size: 50px;
    margin-bottom: 25px;
}

footer {
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 33px;
    padding: 10px 0;
}

.container {
    display: grid;
    grid-template-columns: 150px 1fr;
}

nav {
    margin-left: 20px;
    font-size: 33px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 150px 100px;
    font-size: 28px;
}

a:link,
a:visited {
    background-color: #eeeeee;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    font-size: 1.5em;
}

a:hover,
a:active {
    background-color: #ff4500;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin: 2px;
    font-size: 1.5em;
    cursor: pointer;
    transition-duration: 1s;
}

button:hover {
    background-color: orange;
    color: white;
}