@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.em {
  font-weight: bolder;
  font-size: 50px;
  margin: 20px 0 10px;
}

.table {
    width: 1200px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 30px;
    margin-left: 0; /* 왼쪽 마진을 제거하여 테이블이 붙도록 함 */
    margin-right: auto; /* 오른쪽 여백만 남게 설정 */
}

.table th,
.table td {
  width: 20%;
  border: 1px solid black;
  padding: 10px;
}

.row30 {
  height: 30px;
}

.photo img {
  width: 95%;
  height: 95%;
}

.pledge {
  text-align: right;
  font-family: 'Song Myung', serif;
  font-size: 25px;
  margin-top: 20px;
  margin-right: 20px;
}

.name {
  font-family: 'Noto Serif TC', serif;
  font-size: 25px;
}