.container {
    margin: 100px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.fieldset {
    border: 10px solid #4caf50;
    padding: 15px;
    margin-top: 20px;
}

.legend {
    font-weight: bold;
    font-size: 1.5em;
}

.list {
    list-style-type: disc;
    margin: 10px 20px;
    padding-left: 100px;
}

.list li {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}